<div class="card bg-primary">
  <div class="card-body">
    <h1 class="card-title">Snakie002 何師傅</h1>
    <p>澳洲毒撚，沉迷遊戲三十載。 無實力唯有用毅力，推崇「用心打機，享受遊戲」宗旨。 我得，你都得！想看到更多遊戲攻略遊戲評價，各式各樣遊戲影片請按訂閱，謝謝你！</p>
    <div class="flex items-center">
      <a href="https://www.youtube.com/c/Snakie002/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/youtube.png"/>
      </a>
      <a href="https://www.twitch.tv/snakie002/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/twitch.png"/>
      </a>
      <a href="https://www.facebook.com/Snakie002/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/facebook.png"/>
      </a>
      <a href="https://www.instagram.com/snakie002/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/instagram.png"/>
      </a>
    </div>
  </div>
</div>