<div class="card bg-primary">
  <div class="card-body">
    <h1 class="card-title">Hfok</h1>
    <p>喂 早晨 我係hfok 想用廣東話講下大大小小關於Path of Exile (流亡黯道 PoE) 嘅消息同埋內容 另外耐唔耐都會講下其他 Game 既內容，其實係咩都唔緊要啦，have fun就ok</p>
    <div class="flex items-center">
      <a href="https://www.youtube.com/@hfok/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/youtube.png"/>
      </a>
      <a href="https://www.twitch.tv/hfoklol/" class="btn btn-ghost btn-circle" target="_blank">
          <img class="w-6 h-6" src="/assets/img/twitch.png"/>
      </a>
    </div>
  </div>
</div>