<div class="bg-primary flex mb-8 py-1 sticky top-0 z-10">
<ul class="menu menu-horizontal rounded-box container max-w-[1200px] mx-auto grid grid-cols-4 lg:flex items-center font-bold justify-between lg:justify-start h-auto lg:h-[64px] p-0 w-full">
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/">
        <img loading="lazy" src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/cropped-HO-24x24.png"/>
        <span>首頁</span>
      </a>
    </li>
    <li class="dropdown dropdown-hover">
      <a class="flex flex-col lg:flex-row leading-3" tabindex="0" href="/category/poe">
        <img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe.png"/>
        <span>流亡黯道</span>
      </a>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="/category/poe-guide/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_knowledge.png"/>POE教學</a>
        </li>
        <li>
          <a href="/category/poe-news/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_news.png"/>POE消息</a>
        <li>
          <a href="/category/poe-ls/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_league_starter.png"/>POE拓荒精選</a>
        </li>
      </ul>
    </li>
      <li class="dropdown dropdown-hover">
      <a class="flex flex-col lg:flex-row leading-3" tabindex="0" href="/category/poe2">
        <img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe2.png"/>
        <span>流亡黯道2</span>
      </a>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="/category/poe2-guide/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_ninja.png"/>POE2教學</a>
        </li>
        <li>
          <a href="/category/poe2-news/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_knowledge.png"/>POE2消息</a>
        </li>
      </ul>
      </a>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/tli/">
        <img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/torchlight_infinite.png"/>
        <span>火炬之光無限</span>
      </a>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/le/">
        <img
          loading="lazy"
          class="w-6 h-6 mr-2"
          src="/assets/img/le.png"/>
        <span>最後紀元</span>
      </a>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/sp/">
        <img 
        loading="lazy"
        class="w-6 h-6 mr-2"
        src="/assets/img/steam.png"/>
        <span>單機遊戲</span>
      </a>
    </li>
        <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/multi/">
        <img 
        loading="lazy"
        class="w-6 h-6 mr-2"
        src="/assets/img/multi.png"/>
        <span>多人連線</span>
      </a>
    </li>
        <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/news/">
        <img
          loading="lazy"
          class="w-6 h-6 mr-2"
          src="/assets/img/quest.png"/>
        <span>遊戲新聞</span>
      </a>
    </li>
  </ul>
</div>