<div class="flex items-center">
    <div class="flex items-center">
        <a href="https://www.youtube.com/c/Snakie002/" class="btn btn-ghost btn-circle" target="_blank">
            <img class="w-6 h-6" src="/assets/img/youtube.png"/>
        </a>
        <a href="https://www.twitch.tv/snakie002/" class="btn btn-ghost btn-circle" target="_blank">
            <img class="w-6 h-6" src="/assets/img/twitch.png"/>
        </a>
        <a href="https://www.facebook.com/Snakie002/" class="btn btn-ghost btn-circle" target="_blank">
            <img class="w-6 h-6" src="/assets/img/facebook.png"/>
        </a>
        <a href="https://www.instagram.com/snakie002/" class="btn btn-ghost btn-circle" target="_blank">
            <img class="w-6 h-6" src="/assets/img/instagram.png"/>
        </a>
    </div>
    <a class="btn btn-ghost" href="/contact">聯絡我們</a>
</div>