<div class="navbar items-start lg:items-end flex-col lg:flex-row space-y-4">
  <div class="flex-1">
    <a href="/" class="flex flex-col space-y-2 font-bold">
      <span class="text-4xl lg:text-6xl">on9games</span>
      <span class="text-lg ml-2">POE ARPG 火炬之光無限 遊戲攻略</span>
    </a>
  </div>
  <div class="flex-none ml-auto">
    {% include "./social-media.njk" %}
  </div>
</div>