---
layout: layouts/base.njk
---

<div class="post-content">
    <h1>{{ title }}</h1>
    <main>
        {{ content | safe }}
    </main>
    <div class="my-12">
    <a href="https://streamlabs.com/snakie002/tip"><img loading="lazy" src="/assets/img/Panel_Donations2.png"/></a>
    </div>
</div>