@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Noto Sans TC", sans-serif;
}

html,
body {
	@apply bg-base-200;
	@apply h-full;
}

.splide__slide img {
	width: 100%;
	height: 100%;
}

.splide__slide {
	opacity: 0.4;
}

.splide__slide.is-active {
	opacity: 0.8;
}

.post-content h1,
.post-content h2,
.post-content h3 {
	@apply mt-8;
	@apply mb-2;
	@apply break-keep;
}

.post-content h1 {
	@apply mb-6;
}

.post-content h1 {
	@apply text-4xl;
	@apply tracking-wide;
}

.post-content h2 {
	@apply text-2xl;
}

.post-content h3 {
	@apply text-xl;
}

.post-content p a {
	@apply link-info;
}

.post-content p,
.post-content ul,
.post-content table {
	@apply mb-4;
}

.post-content ul {
	@apply list-disc;
	@apply ml-5;
}

.post-content p,
.post-content li,
.post-content td {
	@apply tracking-wider;
	@apply text-lg;
	@apply text-zinc-300;
}

.post-content strong {
	@apply font-bold;
	@apply text-zinc-200;
}

.post-content table {
	@apply table;
	@apply table-xs;
}

.post-content td,
.post-content th {
	@apply border;
}

.post-content .image-with-caption {
	@apply my-16;
}