---
pagination:
  data: collections.categories
  size: 1
  alias: category
layout: layouts/home.njk
eleventyComputed:
title: 目錄
permalink: /category/{{ category }}/
---

{% set postslistTitle = category | translateCategory %}
{% set postslist = collections.categories[ category ] %}
{% include "./_includes/components/postslist.njk" %}